In [1]:
#ライブラリの読み込み
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 1. OpenFaceの生データ前処理

In [2]:
#データの表示
data_a = pd.read_csv("OpenFace/20201111_session1_A_gvo.csv")
data_b = pd.read_csv("OpenFace/20201111_session1_B_gvo.csv")
data_c = pd.read_csv("OpenFace/20201111_session1_C_gvo.csv")
data_d = pd.read_csv("OpenFace/20201111_session1_D_gvo.csv")

In [3]:
#各列に空白が入ってしまっているので消去
data_a.columns = data_a.columns.str.strip()
data_b.columns = data_b.columns.str.strip()
data_c.columns = data_c.columns.str.strip()
data_d.columns = data_d.columns.str.strip()

In [4]:
#時系列データを扱うためのライブラリの読み込み
import datetime as dt

In [5]:
#変数a,b,c,dにtimestampの列をhh:mm:ss.f形式にしたものを入れていく
a = []
for i in range(0, len(data_a)):
    time_a = str(dt.timedelta(seconds=data_a["timestamp"][i]))
    a.append(time_a)

b = []
for i in range(0, len(data_b)):
    time_b = str(dt.timedelta(seconds=data_b["timestamp"][i]))
    b.append(time_b)

c = []
for i in range(0, len(data_c)):
    time_c = str(dt.timedelta(seconds=data_c["timestamp"][i]))
    c.append(time_c)

d = []
for i in range(0, len(data_d)):
    time_d = str(dt.timedelta(seconds=data_d["timestamp"][i]))
    d.append(time_d)

In [6]:
#元のデータのtimestampの列に変数a,b,c,dを代入
data_a.timestamp = a
data_b.timestamp = b
data_c.timestamp = c
data_d.timestamp = d

In [7]:
#編集データ表示
data_d

,frame,face_id,timestamp,confidence,success,gaze_0_x,gaze_0_y,gaze_0_z,gaze_1_x,gaze_1_y,...,AU12_c,AU14_c,AU15_c,AU17_c,AU20_c,AU23_c,AU25_c,AU26_c,AU28_c,AU45_c
0,1,0,0:00:00,0.03,1,0.239720,0.068453,-0.968426,-0.019917,0.091494,...,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0
1,2,0,0:00:00.040000,0.98,1,0.235259,0.067254,-0.969603,-0.028243,0.105884,...,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0
2,3,0,0:00:00.080000,0.98,1,0.251754,0.068869,-0.965338,-0.019232,0.117725,...,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0
3,4,0,0:00:00.120000,0.98,1,0.263415,0.083352,-0.961075,-0.021321,0.110649,...,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0
4,5,0,0:00:00.160000,0.88,1,0.308435,0.100076,-0.945967,-0.060718,0.176701,...,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22902,22903,0,0:15:16.080000,0.98,1,0.239252,0.276484,-0.930761,-0.024799,0.321973,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
22903,22904,0,0:15:16.120000,0.98,1,0.229590,0.292236,-0.928378,-0.033251,0.340271,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
22904,22905,0,0:15:16.160000,0.98,1,0.234503,0.283910,-0.929733,-0.029817,0.329651,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
22905,22906,0,0:15:16.200000,0.98,1,0.225858,0.296394,-0.927976,-0.022760,0.334708,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
22906,22907,0,0:15:16.240000,0.98,1,0.220408,0.298253,-0.928690,-0.024432,0.344675,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
#timestampの列をdatetime型にする
#時間のフォーマットが一部違うため，引数infer_datetime_format=Trueを指定している
data_a['timestamp'] = pd.to_datetime(data_a['timestamp'], infer_datetime_format=True)
data_b['timestamp'] = pd.to_datetime(data_b['timestamp'], infer_datetime_format=True)
data_c['timestamp'] = pd.to_datetime(data_c['timestamp'], infer_datetime_format=True)
data_d['timestamp'] = pd.to_datetime(data_d['timestamp'], infer_datetime_format=True)

In [9]:
#編集データ表示
data_a

,frame,face_id,timestamp,confidence,success,gaze_0_x,gaze_0_y,gaze_0_z,gaze_1_x,gaze_1_y,...,AU12_c,AU14_c,AU15_c,AU17_c,AU20_c,AU23_c,AU25_c,AU26_c,AU28_c,AU45_c
0,1,0,2021-09-15 00:00:00.000,0.03,1,0.140461,0.142931,-0.979715,-0.190997,0.147243,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,0,2021-09-15 00:00:00.040,0.98,1,0.156855,0.152353,-0.975800,-0.178995,0.160689,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,0,2021-09-15 00:00:00.080,0.98,1,0.172068,0.156396,-0.972591,-0.147879,0.185284,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,0,2021-09-15 00:00:00.120,0.98,1,0.179539,0.159574,-0.970722,-0.137383,0.199629,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,0,2021-09-15 00:00:00.160,0.98,1,0.167834,0.152632,-0.973928,-0.131146,0.193224,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22902,22903,0,2021-09-15 00:15:16.080,0.98,1,-0.064590,0.336745,-0.939378,-0.392388,0.444686,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
22903,22904,0,2021-09-15 00:15:16.120,0.98,1,-0.066183,0.326021,-0.943043,-0.428247,0.436808,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
22904,22905,0,2021-09-15 00:15:16.160,0.93,1,-0.082058,0.303840,-0.949183,-0.400123,0.422313,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
22905,22906,0,2021-09-15 00:15:16.200,0.93,1,-0.085775,0.289642,-0.953284,-0.401897,0.426336,...,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
22906,22907,0,2021-09-15 00:15:16.240,0.93,1,-0.068591,0.284897,-0.956101,-0.404061,0.425139,...,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0

In [10]:
#時刻パラメータの設定
d1 = dt.datetime(year=2020, month=11, day=11) #実験実施日
d2 = dt.datetime.today() #今日
days_order = d1 - d2 #日数計算(pd.to_datetimeのデフォルトで日程の部分が今日になっているので実験実施日-今日を行っている)
days_order = days_order.days + 1 #経過日数を表示するので，1を足す必要がある(例えば8月15日から8月20日の日数の数え方は15日を入れるかで変わる)
hours_order = 12 #時を指定
miniute_order = 40 #分を指定
seconds_order = 3 #秒を指定

In [11]:
#設定した時刻パラメータを用いてtimedelta関数で時刻計算を行う
data_a['timestamp'] = data_a['timestamp'] + dt.timedelta(days=days_order, hours=hours_order, minutes=miniute_order, seconds=seconds_order)
data_b['timestamp'] = data_b['timestamp'] + dt.timedelta(days=days_order, hours=hours_order, minutes=miniute_order, seconds=seconds_order)
data_c['timestamp'] = data_c['timestamp'] + dt.timedelta(days=days_order, hours=hours_order, minutes=miniute_order, seconds=seconds_order)
data_d['timestamp'] = data_d['timestamp'] + dt.timedelta(days=days_order, hours=hours_order, minutes=miniute_order, seconds=seconds_order)

In [12]:
#編集データ表示
data_a

,frame,face_id,timestamp,confidence,success,gaze_0_x,gaze_0_y,gaze_0_z,gaze_1_x,gaze_1_y,...,AU12_c,AU14_c,AU15_c,AU17_c,AU20_c,AU23_c,AU25_c,AU26_c,AU28_c,AU45_c
0,1,0,2020-11-11 12:40:03.000,0.03,1,0.140461,0.142931,-0.979715,-0.190997,0.147243,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,0,2020-11-11 12:40:03.040,0.98,1,0.156855,0.152353,-0.975800,-0.178995,0.160689,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,0,2020-11-11 12:40:03.080,0.98,1,0.172068,0.156396,-0.972591,-0.147879,0.185284,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,0,2020-11-11 12:40:03.120,0.98,1,0.179539,0.159574,-0.970722,-0.137383,0.199629,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,0,2020-11-11 12:40:03.160,0.98,1,0.167834,0.152632,-0.973928,-0.131146,0.193224,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22902,22903,0,2020-11-11 12:55:19.080,0.98,1,-0.064590,0.336745,-0.939378,-0.392388,0.444686,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
22903,22904,0,2020-11-11 12:55:19.120,0.98,1,-0.066183,0.326021,-0.943043,-0.428247,0.436808,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
22904,22905,0,2020-11-11 12:55:19.160,0.93,1,-0.082058,0.303840,-0.949183,-0.400123,0.422313,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
22905,22906,0,2020-11-11 12:55:19.200,0.93,1,-0.085775,0.289642,-0.953284,-0.401897,0.426336,...,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
22906,22907,0,2020-11-11 12:55:19.240,0.93,1,-0.068591,0.284897,-0.956101,-0.404061,0.425139,...,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0

In [13]:
#timestampの列をインデックス化
data_a.set_index("timestamp", inplace=True)
data_b.set_index("timestamp", inplace=True)
data_c.set_index("timestamp", inplace=True)
data_d.set_index("timestamp", inplace=True)

In [14]:
#編集データ表示
data_a

,frame,face_id,confidence,success,gaze_0_x,gaze_0_y,gaze_0_z,gaze_1_x,gaze_1_y,gaze_1_z,...,AU12_c,AU14_c,AU15_c,AU17_c,AU20_c,AU23_c,AU25_c,AU26_c,AU28_c,AU45_c
timestamp,,,,,,,,,,,,,,,,,,,,,
2020-11-11 12:40:03.000,1,0,0.03,1,0.140461,0.142931,-0.979715,-0.190997,0.147243,-0.970484,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-11-11 12:40:03.040,2,0,0.98,1,0.156855,0.152353,-0.975800,-0.178995,0.160689,-0.970639,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-11-11 12:40:03.080,3,0,0.98,1,0.172068,0.156396,-0.972591,-0.147879,0.185284,-0.971495,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-11-11 12:40:03.120,4,0,0.98,1,0.179539,0.159574,-0.970722,-0.137383,0.199629,-0.970193,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-11-11 12:40:03.160,5,0,0.98,1,0.167834,0.152632,-0.973928,-0.131146,0.193224,-0.972350,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-11-11 12:55:19.080,22903,0,0.98,1,-0.064590,0.336745,-0.939378,-0.392388,0.444686,-0.805162,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-11-11 12:55:19.120,22904,0,0.98,1,-0.066183,0.326021,-0.943043,-0.428247,0.436808,-0.791077,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-11-11 12:55:19.160,22905,0,0.93,1,-0.082058,0.303840,-0.949183,-0.400123,0.422313,-0.813359,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-11-11 12:55:19.200,22906,0,0.93,1,-0.085775,0.289642,-0.953284,-0.401897,0.426336,-0.810380,...,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
2020-11-11 12:55:19.240,22907,0,0.93,1,-0.068591,0.284897,-0.956101,-0.404061,0.425139,-0.809933,...,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0

# 2. anotationデータの前処理

In [15]:
#アノテーションデータの読み込み
data_a_label_50 = pd.read_csv('anote/20201111_session1_emotion_A_50_es.csv')
data_a_label_60 = pd.read_csv('anote/20201111_session1_emotion_A_60_es.csv')
data_a_label_70 = pd.read_csv('anote/20201111_session1_emotion_A_70_es.csv')
data_a_label_80 = pd.read_csv('anote/20201111_session1_emotion_A_80_es.csv')

data_b_label_50 = pd.read_csv('anote/20201111_session1_emotion_B_50_es.csv')
data_b_label_60 = pd.read_csv('anote/20201111_session1_emotion_B_60_es.csv')
data_b_label_70 = pd.read_csv('anote/20201111_session1_emotion_B_70_es.csv')
data_b_label_80 = pd.read_csv('anote/20201111_session1_emotion_B_80_es.csv')

data_c_label_50 = pd.read_csv('anote/20201111_session1_emotion_C_50_es.csv')
data_c_label_60 = pd.read_csv('anote/20201111_session1_emotion_C_60_es.csv')
data_c_label_70 = pd.read_csv('anote/20201111_session1_emotion_C_70_es.csv')
data_c_label_80 = pd.read_csv('anote/20201111_session1_emotion_C_80_es.csv')

data_d_label_50 = pd.read_csv('anote/20201111_session1_emotion_D_50_es.csv')
data_d_label_60 = pd.read_csv('anote/20201111_session1_emotion_D_60_es.csv')
data_d_label_70 = pd.read_csv('anote/20201111_session1_emotion_D_70_es.csv')
data_d_label_80 = pd.read_csv('anote/20201111_session1_emotion_D_80_es.csv')

In [16]:
#データの表示
data_a_label_50

    start_time finish_time  emotion_level
0         5:48        5:52              1
1         5:49        5:53              1
2         5:50        5:54              1
3         5:51        5:55              1
4         5:52        5:56              1
..         ...         ...            ...
465      20:07       20:11              2
466      20:08       20:12              2
467      20:17       20:21              2
468      20:18       20:22              2
469      20:19       20:23              2

[470 rows x 3 columns]

In [17]:
#欠損値削除(行)
def dropna(label):
    a = label.dropna(how='all', axis=0)
    return a

data_a_label_50 = dropna(data_a_label_50)
data_a_label_60 = dropna(data_a_label_60)
data_a_label_70 = dropna(data_a_label_70)
data_a_label_80 = dropna(data_a_label_80)

data_b_label_50 = dropna(data_b_label_50)
data_b_label_60 = dropna(data_b_label_60)
data_b_label_70 = dropna(data_b_label_70)
data_b_label_80 = dropna(data_b_label_80)

data_c_label_50 = dropna(data_c_label_50)
data_c_label_60 = dropna(data_c_label_60)
data_c_label_70 = dropna(data_c_label_70)
data_c_label_80 = dropna(data_c_label_80)

data_d_label_50 = dropna(data_d_label_50)
data_d_label_60 = dropna(data_d_label_60)
data_d_label_70 = dropna(data_d_label_70)
data_d_label_80 = dropna(data_d_label_80)

In [18]:
#欠損値削除(列)
def dropna(label):
    a = label.dropna(how='all', axis=1)
    return a

data_a_label_50 = dropna(data_a_label_50)
data_a_label_60 = dropna(data_a_label_60)
data_a_label_70 = dropna(data_a_label_70)
data_a_label_80 = dropna(data_a_label_80)

data_b_label_50 = dropna(data_b_label_50)
data_b_label_60 = dropna(data_b_label_60)
data_b_label_70 = dropna(data_b_label_70)
data_b_label_80 = dropna(data_b_label_80)

data_c_label_50 = dropna(data_c_label_50)
data_c_label_60 = dropna(data_c_label_60)
data_c_label_70 = dropna(data_c_label_70)
data_c_label_80 = dropna(data_c_label_80)

data_d_label_50 = dropna(data_d_label_50)
data_d_label_60 = dropna(data_d_label_60)
data_d_label_70 = dropna(data_d_label_70)
data_d_label_80 = dropna(data_d_label_80)

In [19]:
#データの表示
data_c_label_50

    start_time finish_time  emotion_level
0         5:37        5:41              3
1         5:38        5:42              3
2         5:39        5:43              3
3         5:40        5:44              3
4         5:41        5:45              3
..         ...         ...            ...
477      20:16       20:20              1
478      20:20       20:24              1
479      20:21       20:25              1
480      20:22       20:26              1
481      20:23       20:27              1

[482 rows x 3 columns]

In [20]:
#start_time，finisu_timeの列をdatetime型にする
format_order = '%M:%S' #時刻フォーマットの設定

#ユーザーA
data_a_label_50['start_time'] = pd.to_datetime(data_a_label_50['start_time'], format=format_order)
data_a_label_50['finish_time'] = pd.to_datetime(data_a_label_50['finish_time'], format=format_order)
data_a_label_60['start_time'] = pd.to_datetime(data_a_label_60['start_time'], format=format_order)
data_a_label_60['finish_time'] = pd.to_datetime(data_a_label_60['finish_time'], format=format_order)
data_a_label_70['start_time'] = pd.to_datetime(data_a_label_70['start_time'], format=format_order)
data_a_label_70['finish_time'] = pd.to_datetime(data_a_label_70['finish_time'], format=format_order)
data_a_label_80['start_time'] = pd.to_datetime(data_a_label_80['start_time'], format=format_order)
data_a_label_80['finish_time'] = pd.to_datetime(data_a_label_80['finish_time'], format=format_order)

#ユーザーB
data_b_label_50['start_time'] = pd.to_datetime(data_b_label_50['start_time'], format=format_order)
data_b_label_50['finish_time'] = pd.to_datetime(data_b_label_50['finish_time'], format=format_order)
data_b_label_60['start_time'] = pd.to_datetime(data_b_label_60['start_time'], format=format_order)
data_b_label_60['finish_time'] = pd.to_datetime(data_b_label_60['finish_time'], format=format_order)
data_b_label_70['start_time'] = pd.to_datetime(data_b_label_70['start_time'], format=format_order)
data_b_label_70['finish_time'] = pd.to_datetime(data_b_label_70['finish_time'], format=format_order)
data_b_label_80['start_time'] = pd.to_datetime(data_b_label_80['start_time'], format=format_order)
data_b_label_80['finish_time'] = pd.to_datetime(data_b_label_80['finish_time'], format=format_order)

#ユーザーC
data_c_label_50['start_time'] = pd.to_datetime(data_c_label_50['start_time'], format=format_order)
data_c_label_50['finish_time'] = pd.to_datetime(data_c_label_50['finish_time'], format=format_order)
data_c_label_60['start_time'] = pd.to_datetime(data_c_label_60['start_time'], format=format_order)
data_c_label_60['finish_time'] = pd.to_datetime(data_c_label_60['finish_time'], format=format_order)
data_c_label_70['start_time'] = pd.to_datetime(data_c_label_70['start_time'], format=format_order)
data_c_label_70['finish_time'] = pd.to_datetime(data_c_label_70['finish_time'], format=format_order)
data_c_label_80['start_time'] = pd.to_datetime(data_c_label_80['start_time'], format=format_order)
data_c_label_80['finish_time'] = pd.to_datetime(data_c_label_80['finish_time'], format=format_order)

#ユーザーD
data_d_label_50['start_time'] = pd.to_datetime(data_d_label_50['start_time'], format=format_order)
data_d_label_50['finish_time'] = pd.to_datetime(data_d_label_50['finish_time'], format=format_order)
data_d_label_60['start_time'] = pd.to_datetime(data_d_label_60['start_time'], format=format_order)
data_d_label_60['finish_time'] = pd.to_datetime(data_d_label_60['finish_time'], format=format_order)
data_d_label_70['start_time'] = pd.to_datetime(data_d_label_70['start_time'], format=format_order)
data_d_label_70['finish_time'] = pd.to_datetime(data_d_label_70['finish_time'], format=format_order)
data_d_label_80['start_time'] = pd.to_datetime(data_d_label_80['start_time'], format=format_order)
data_d_label_80['finish_time'] = pd.to_datetime(data_d_label_80['finish_time'], format=format_order)

In [21]:
#データの表示
data_a_label_50

             start_time         finish_time  emotion_level
0   1900-01-01 00:05:48 1900-01-01 00:05:52              1
1   1900-01-01 00:05:49 1900-01-01 00:05:53              1
2   1900-01-01 00:05:50 1900-01-01 00:05:54              1
3   1900-01-01 00:05:51 1900-01-01 00:05:55              1
4   1900-01-01 00:05:52 1900-01-01 00:05:56              1
..                  ...                 ...            ...
465 1900-01-01 00:20:07 1900-01-01 00:20:11              2
466 1900-01-01 00:20:08 1900-01-01 00:20:12              2
467 1900-01-01 00:20:17 1900-01-01 00:20:21              2
468 1900-01-01 00:20:18 1900-01-01 00:20:22              2
469 1900-01-01 00:20:19 1900-01-01 00:20:23              2

[470 rows x 3 columns]

In [22]:
#時刻パラメータの設定
d1 = dt.datetime(year=2020, month=11, day=11) #実験実施日
d2 = dt.datetime(year=1900, month=1, day=1) #今日
days_order = d1 - d2 #日数計算(pd.to_datetimeのデフォルトで日程の部分が今日になっているので実験実施日-今日を行っている)
days_order = days_order.days #経過日数を表示するので，1を足す必要がある(例えば8月15日から8月20日の日数の数え方は15日を入れるかで変わる)
hours_order = 12 #時を指定
miniute_order = 34 #分を指定
seconds_order = 30 #秒を指定

In [23]:
#設定した時刻パラメータを用いてtimedelta関数で時刻計算を行う
#ユーザーA
data_a_label_50['start_time'] = data_a_label_50['start_time'] + dt.timedelta(days=days_order, hours=hours_order, minutes=miniute_order, seconds=seconds_order)
data_a_label_50['finish_time'] = data_a_label_50['finish_time'] + dt.timedelta(days=days_order, hours=hours_order, minutes=miniute_order, seconds=seconds_order)
data_a_label_60['start_time'] = data_a_label_60['start_time'] + dt.timedelta(days=days_order, hours=hours_order, minutes=miniute_order, seconds=seconds_order)
data_a_label_60['finish_time'] = data_a_label_60['finish_time'] + dt.timedelta(days=days_order, hours=hours_order, minutes=miniute_order, seconds=seconds_order)
data_a_label_70['start_time'] = data_a_label_70['start_time'] + dt.timedelta(days=days_order, hours=hours_order, minutes=miniute_order, seconds=seconds_order)
data_a_label_70['finish_time'] = data_a_label_70['finish_time'] + dt.timedelta(days=days_order, hours=hours_order, minutes=miniute_order, seconds=seconds_order)
data_a_label_80['start_time'] = data_a_label_80['start_time'] + dt.timedelta(days=days_order, hours=hours_order, minutes=miniute_order, seconds=seconds_order)
data_a_label_80['finish_time'] = data_a_label_80['finish_time'] + dt.timedelta(days=days_order, hours=hours_order, minutes=miniute_order, seconds=seconds_order)

#ユーザーB
data_b_label_50['start_time'] = data_b_label_50['start_time'] + dt.timedelta(days=days_order, hours=hours_order, minutes=miniute_order, seconds=seconds_order)
data_b_label_50['finish_time'] = data_b_label_50['finish_time'] + dt.timedelta(days=days_order, hours=hours_order, minutes=miniute_order, seconds=seconds_order)
data_b_label_60['start_time'] = data_b_label_60['start_time'] + dt.timedelta(days=days_order, hours=hours_order, minutes=miniute_order, seconds=seconds_order)
data_b_label_60['finish_time'] = data_b_label_60['finish_time'] + dt.timedelta(days=days_order, hours=hours_order, minutes=miniute_order, seconds=seconds_order)
data_b_label_70['start_time'] = data_b_label_70['start_time'] + dt.timedelta(days=days_order, hours=hours_order, minutes=miniute_order, seconds=seconds_order)
data_b_label_70['finish_time'] = data_b_label_70['finish_time'] + dt.timedelta(days=days_order, hours=hours_order, minutes=miniute_order, seconds=seconds_order)
data_b_label_80['start_time'] = data_b_label_80['start_time'] + dt.timedelta(days=days_order, hours=hours_order, minutes=miniute_order, seconds=seconds_order)
data_b_label_80['finish_time'] = data_b_label_80['finish_time'] + dt.timedelta(days=days_order, hours=hours_order, minutes=miniute_order, seconds=seconds_order)

#ユーザーC
data_c_label_50['start_time'] = data_c_label_50['start_time'] + dt.timedelta(days=days_order, hours=hours_order, minutes=miniute_order, seconds=seconds_order)
data_c_label_50['finish_time'] = data_c_label_50['finish_time'] + dt.timedelta(days=days_order, hours=hours_order, minutes=miniute_order, seconds=seconds_order)
data_c_label_60['start_time'] = data_c_label_60['start_time'] + dt.timedelta(days=days_order, hours=hours_order, minutes=miniute_order, seconds=seconds_order)
data_c_label_60['finish_time'] = data_c_label_60['finish_time'] + dt.timedelta(days=days_order, hours=hours_order, minutes=miniute_order, seconds=seconds_order)
data_c_label_70['start_time'] = data_c_label_70['start_time'] + dt.timedelta(days=days_order, hours=hours_order, minutes=miniute_order, seconds=seconds_order)
data_c_label_70['finish_time'] = data_c_label_70['finish_time'] + dt.timedelta(days=days_order, hours=hours_order, minutes=miniute_order, seconds=seconds_order)
data_c_label_80['start_time'] = data_c_label_80['start_time'] + dt.timedelta(days=days_order, hours=hours_order, minutes=miniute_order, seconds=seconds_order)
data_c_label_80['finish_time'] = data_c_label_80['finish_time'] + dt.timedelta(days=days_order, hours=hours_order, minutes=miniute_order, seconds=seconds_order)

#ユーザーD
data_d_label_50['start_time'] = data_d_label_50['start_time'] + dt.timedelta(days=days_order, hours=hours_order, minutes=miniute_order, seconds=seconds_order)
data_d_label_50['finish_time'] = data_d_label_50['finish_time'] + dt.timedelta(days=days_order, hours=hours_order, minutes=miniute_order, seconds=seconds_order)
data_d_label_60['start_time'] = data_d_label_60['start_time'] + dt.timedelta(days=days_order, hours=hours_order, minutes=miniute_order, seconds=seconds_order)
data_d_label_60['finish_time'] = data_d_label_60['finish_time'] + dt.timedelta(days=days_order, hours=hours_order, minutes=miniute_order, seconds=seconds_order)
data_d_label_70['start_time'] = data_d_label_70['start_time'] + dt.timedelta(days=days_order, hours=hours_order, minutes=miniute_order, seconds=seconds_order)
data_d_label_70['finish_time'] = data_d_label_70['finish_time'] + dt.timedelta(days=days_order, hours=hours_order, minutes=miniute_order, seconds=seconds_order)
data_d_label_80['start_time'] = data_d_label_80['start_time'] + dt.timedelta(days=days_order, hours=hours_order, minutes=miniute_order, seconds=seconds_order)
data_d_label_80['finish_time'] = data_d_label_80['finish_time'] + dt.timedelta(days=days_order, hours=hours_order, minutes=miniute_order, seconds=seconds_order)

In [24]:
data_a_label_50

             start_time         finish_time  emotion_level
0   2020-11-11 12:40:18 2020-11-11 12:40:22              1
1   2020-11-11 12:40:19 2020-11-11 12:40:23              1
2   2020-11-11 12:40:20 2020-11-11 12:40:24              1
3   2020-11-11 12:40:21 2020-11-11 12:40:25              1
4   2020-11-11 12:40:22 2020-11-11 12:40:26              1
..                  ...                 ...            ...
465 2020-11-11 12:54:37 2020-11-11 12:54:41              2
466 2020-11-11 12:54:38 2020-11-11 12:54:42              2
467 2020-11-11 12:54:47 2020-11-11 12:54:51              2
468 2020-11-11 12:54:48 2020-11-11 12:54:52              2
469 2020-11-11 12:54:49 2020-11-11 12:54:53              2

[470 rows x 3 columns]

In [25]:
data_a_label_50['finish_time'] = data_a_label_50['finish_time'] + dt.timedelta(seconds=-1)
data_a_label_60['finish_time'] = data_a_label_60['finish_time'] + dt.timedelta(seconds=-1)
data_a_label_70['finish_time'] = data_a_label_70['finish_time'] + dt.timedelta(seconds=-1)
data_a_label_80['finish_time'] = data_a_label_80['finish_time'] + dt.timedelta(seconds=-1)

data_b_label_50['finish_time'] = data_b_label_50['finish_time'] + dt.timedelta(seconds=-1)
data_b_label_60['finish_time'] = data_b_label_60['finish_time'] + dt.timedelta(seconds=-1)
data_b_label_70['finish_time'] = data_b_label_70['finish_time'] + dt.timedelta(seconds=-1)
data_b_label_80['finish_time'] = data_b_label_80['finish_time'] + dt.timedelta(seconds=-1)

data_c_label_50['finish_time'] = data_c_label_50['finish_time'] + dt.timedelta(seconds=-1)
data_c_label_60['finish_time'] = data_c_label_60['finish_time'] + dt.timedelta(seconds=-1)
data_c_label_70['finish_time'] = data_c_label_70['finish_time'] + dt.timedelta(seconds=-1)
data_c_label_80['finish_time'] = data_c_label_80['finish_time'] + dt.timedelta(seconds=-1)

data_d_label_50['finish_time'] = data_d_label_50['finish_time'] + dt.timedelta(seconds=-1)
data_d_label_60['finish_time'] = data_d_label_60['finish_time'] + dt.timedelta(seconds=-1)
data_d_label_70['finish_time'] = data_d_label_70['finish_time'] + dt.timedelta(seconds=-1)
data_d_label_80['finish_time'] = data_d_label_80['finish_time'] + dt.timedelta(seconds=-1)

In [26]:
#start_time列とfinish_time列をdatetime型から文字列型に
#ユーザーA
data_a_label_50["start_time"] = data_a_label_50["start_time"].dt.strftime("%Y-%m-%d %H:%M:%S")
data_a_label_50["finish_time"] = data_a_label_50["finish_time"].dt.strftime("%Y-%m-%d %H:%M:%S")
data_a_label_60["start_time"] = data_a_label_60["start_time"].dt.strftime("%Y-%m-%d %H:%M:%S")
data_a_label_60["finish_time"] = data_a_label_60["finish_time"].dt.strftime("%Y-%m-%d %H:%M:%S")
data_a_label_70["start_time"] = data_a_label_70["start_time"].dt.strftime("%Y-%m-%d %H:%M:%S")
data_a_label_70["finish_time"] = data_a_label_70["finish_time"].dt.strftime("%Y-%m-%d %H:%M:%S")
data_a_label_80["start_time"] = data_a_label_80["start_time"].dt.strftime("%Y-%m-%d %H:%M:%S")
data_a_label_80["finish_time"] = data_a_label_80["finish_time"].dt.strftime("%Y-%m-%d %H:%M:%S")

#ユーザーB
data_b_label_50["start_time"] = data_b_label_50["start_time"].dt.strftime("%Y-%m-%d %H:%M:%S")
data_b_label_50["finish_time"] = data_b_label_50["finish_time"].dt.strftime("%Y-%m-%d %H:%M:%S")
data_b_label_60["start_time"] = data_b_label_60["start_time"].dt.strftime("%Y-%m-%d %H:%M:%S")
data_b_label_60["finish_time"] = data_b_label_60["finish_time"].dt.strftime("%Y-%m-%d %H:%M:%S")
data_b_label_70["start_time"] = data_b_label_70["start_time"].dt.strftime("%Y-%m-%d %H:%M:%S")
data_b_label_70["finish_time"] = data_b_label_70["finish_time"].dt.strftime("%Y-%m-%d %H:%M:%S")
data_b_label_80["start_time"] = data_b_label_80["start_time"].dt.strftime("%Y-%m-%d %H:%M:%S")
data_b_label_80["finish_time"] = data_b_label_80["finish_time"].dt.strftime("%Y-%m-%d %H:%M:%S")

#ユーザーC
data_c_label_50["start_time"] = data_c_label_50["start_time"].dt.strftime("%Y-%m-%d %H:%M:%S")
data_c_label_50["finish_time"] = data_c_label_50["finish_time"].dt.strftime("%Y-%m-%d %H:%M:%S")
data_c_label_60["start_time"] = data_c_label_60["start_time"].dt.strftime("%Y-%m-%d %H:%M:%S")
data_c_label_60["finish_time"] = data_c_label_60["finish_time"].dt.strftime("%Y-%m-%d %H:%M:%S")
data_c_label_70["start_time"] = data_c_label_70["start_time"].dt.strftime("%Y-%m-%d %H:%M:%S")
data_c_label_70["finish_time"] = data_c_label_70["finish_time"].dt.strftime("%Y-%m-%d %H:%M:%S")
data_c_label_80["start_time"] = data_c_label_80["start_time"].dt.strftime("%Y-%m-%d %H:%M:%S")
data_c_label_80["finish_time"] = data_c_label_80["finish_time"].dt.strftime("%Y-%m-%d %H:%M:%S")

#ユーザーD
data_d_label_50["start_time"] = data_d_label_50["start_time"].dt.strftime("%Y-%m-%d %H:%M:%S")
data_d_label_50["finish_time"] = data_d_label_50["finish_time"].dt.strftime("%Y-%m-%d %H:%M:%S")
data_d_label_60["start_time"] = data_d_label_60["start_time"].dt.strftime("%Y-%m-%d %H:%M:%S")
data_d_label_60["finish_time"] = data_d_label_60["finish_time"].dt.strftime("%Y-%m-%d %H:%M:%S")
data_d_label_70["start_time"] = data_d_label_70["start_time"].dt.strftime("%Y-%m-%d %H:%M:%S")
data_d_label_70["finish_time"] = data_d_label_70["finish_time"].dt.strftime("%Y-%m-%d %H:%M:%S")
data_d_label_80["start_time"] = data_d_label_80["start_time"].dt.strftime("%Y-%m-%d %H:%M:%S")
data_d_label_80["finish_time"] = data_d_label_80["finish_time"].dt.strftime("%Y-%m-%d %H:%M:%S")

In [27]:
#文字列化したstart_time列とfinish_time列をリスト化
#ユーザーA
data_a_50_start_time = list(data_a_label_50["start_time"])
data_a_50_finish_time = list(data_a_label_50["finish_time"])
data_a_60_start_time = list(data_a_label_60["start_time"])
data_a_60_finish_time = list(data_a_label_60["finish_time"])
data_a_70_start_time = list(data_a_label_70["start_time"])
data_a_70_finish_time = list(data_a_label_70["finish_time"])
data_a_80_start_time = list(data_a_label_80["start_time"])
data_a_80_finish_time = list(data_a_label_80["finish_time"])

#ユーザーB
data_b_50_start_time = list(data_b_label_50["start_time"])
data_b_50_finish_time = list(data_b_label_50["finish_time"])
data_b_60_start_time = list(data_b_label_60["start_time"])
data_b_60_finish_time = list(data_b_label_60["finish_time"])
data_b_70_start_time = list(data_b_label_70["start_time"])
data_b_70_finish_time = list(data_b_label_70["finish_time"])
data_b_80_start_time = list(data_b_label_80["start_time"])
data_b_80_finish_time = list(data_b_label_80["finish_time"])

#ユーザーC
data_c_50_start_time = list(data_c_label_50["start_time"])
data_c_50_finish_time = list(data_c_label_50["finish_time"])
data_c_60_start_time = list(data_c_label_60["start_time"])
data_c_60_finish_time = list(data_c_label_60["finish_time"])
data_c_70_start_time = list(data_c_label_70["start_time"])
data_c_70_finish_time = list(data_c_label_70["finish_time"])
data_c_80_start_time = list(data_c_label_80["start_time"])
data_c_80_finish_time = list(data_c_label_80["finish_time"])

#ユーザーD
data_d_50_start_time = list(data_d_label_50["start_time"])
data_d_50_finish_time = list(data_d_label_50["finish_time"])
data_d_60_start_time = list(data_d_label_60["start_time"])
data_d_60_finish_time = list(data_d_label_60["finish_time"])
data_d_70_start_time = list(data_d_label_70["start_time"])
data_d_70_finish_time = list(data_d_label_70["finish_time"])
data_d_80_start_time = list(data_d_label_80["start_time"])
data_d_80_finish_time = list(data_d_label_80["finish_time"])

# 3.アノテーションデータに即したセンサデータの抽出

In [28]:
#アノテーションデータのstart_time列とfinish列を用いてセグメンテーション(センサデータ抽出)
def sensor_segmentation_order(data, data_start_time, data_finish_time, data_label):
    a = [data[data_start_time[i]:data_finish_time[i]]for i in range(0, len(data_label), 1)]
    return a

data_a_record_1 = sensor_segmentation_order(data_a, data_a_50_start_time, data_a_50_finish_time, data_a_label_50)
data_a_record_2 = sensor_segmentation_order(data_a, data_a_60_start_time, data_a_60_finish_time, data_a_label_60)
data_a_record_3 = sensor_segmentation_order(data_a, data_a_70_start_time, data_a_70_finish_time, data_a_label_70)
data_a_record_4 = sensor_segmentation_order(data_a, data_a_80_start_time, data_a_80_finish_time, data_a_label_80)

data_b_record_1 = sensor_segmentation_order(data_b, data_b_50_start_time, data_b_50_finish_time, data_b_label_50)
data_b_record_2 = sensor_segmentation_order(data_b, data_b_60_start_time, data_b_60_finish_time, data_b_label_60)
data_b_record_3 = sensor_segmentation_order(data_b, data_b_70_start_time, data_b_70_finish_time, data_b_label_70)
data_b_record_4 = sensor_segmentation_order(data_b, data_b_80_start_time, data_b_80_finish_time, data_b_label_80)

data_c_record_1 = sensor_segmentation_order(data_c, data_c_50_start_time, data_c_50_finish_time, data_c_label_50)
data_c_record_2 = sensor_segmentation_order(data_c, data_c_60_start_time, data_c_60_finish_time, data_c_label_60)
data_c_record_3 = sensor_segmentation_order(data_c, data_c_70_start_time, data_c_70_finish_time, data_c_label_70)
data_c_record_4 = sensor_segmentation_order(data_c, data_c_80_start_time, data_c_80_finish_time, data_c_label_80)

data_d_record_1 = sensor_segmentation_order(data_d, data_d_50_start_time, data_d_50_finish_time, data_d_label_50)
data_d_record_2 = sensor_segmentation_order(data_d, data_d_60_start_time, data_d_60_finish_time, data_d_label_60)
data_d_record_3 = sensor_segmentation_order(data_d, data_d_70_start_time, data_d_70_finish_time, data_d_label_70)
data_d_record_4 = sensor_segmentation_order(data_d, data_d_80_start_time, data_d_80_finish_time, data_d_label_80)

In [29]:
data_a_record_1[0]

,frame,face_id,confidence,success,gaze_0_x,gaze_0_y,gaze_0_z,gaze_1_x,gaze_1_y,gaze_1_z,...,AU12_c,AU14_c,AU15_c,AU17_c,AU20_c,AU23_c,AU25_c,AU26_c,AU28_c,AU45_c
timestamp,,,,,,,,,,,,,,,,,,,,,
2020-11-11 12:40:18.000,376,0,0.98,1,0.111620,0.314624,-0.942631,-0.230731,0.286834,-0.929779,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
2020-11-11 12:40:18.040,377,0,0.98,1,0.106992,0.256889,-0.960500,-0.219855,0.237957,-0.946066,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
2020-11-11 12:40:18.080,378,0,0.98,1,0.114869,0.238841,-0.964241,-0.212233,0.231515,-0.949399,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
2020-11-11 12:40:18.120,379,0,0.98,1,-0.010417,0.245321,-0.969386,-0.211814,0.197175,-0.957213,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
2020-11-11 12:40:18.160,380,0,0.98,1,0.005257,0.231822,-0.972744,-0.190059,0.174235,-0.966188,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-11-11 12:40:21.800,471,0,0.98,1,0.237843,0.403843,-0.883370,-0.212046,0.434117,-0.875545,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0
2020-11-11 12:40:21.840,472,0,0.98,1,0.169221,0.393176,-0.903757,-0.225162,0.442170,-0.868209,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0
2020-11-11 12:40:21.880,473,0,0.98,1,0.172224,0.394931,-0.902424,-0.220175,0.442825,-0.869154,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0
2020-11-11 12:40:21.920,474,0,0.98,1,0.155959,0.413477,-0.897058,-0.217528,0.444183,-0.869128,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0
2020-11-11 12:40:21.960,475,0,0.98,1,0.146256,0.433707,-0.889105,-0.184883,0.454924,-0.871127,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0

In [30]:
# for i in range(0, len(data_a_label_50)):
#     data_a_record_1[i].reset_index(drop=False, inplace=True)
#     b = data_a_record_1[i].query("timestamp == @data_a_50_finish_time[@i]").index[0]
#     a_list = list(data_a_record_1[i].loc[b+1:].index)
#     data_a_record_1[i].drop(a_list, inplace=True)

# for i in range(0, len(data_a_label_60)):
#     data_a_record_2[i].reset_index(drop=False, inplace=True)
#     b = data_a_record_2[i].query("timestamp == @data_a_60_finish_time[@i]").index[0]
#     a_list = list(data_a_record_2[i].loc[b+1:].index)
#     data_a_record_2[i].drop(a_list, inplace=True)

# for i in range(0, len(data_a_label_70)):
#     data_a_record_3[i].reset_index(drop=False, inplace=True)
#     b = data_a_record_3[i].query("timestamp == @data_a_70_finish_time[@i]").index[0]
#     a_list = list(data_a_record_3[i].loc[b+1:].index)
#     data_a_record_3[i].drop(a_list, inplace=True)

# for i in range(0, len(data_a_label_80)):
#     data_a_record_4[i].reset_index(drop=False, inplace=True)
#     b = data_a_record_4[i].query("timestamp == @data_a_80_finish_time[@i]").index[0]
#     a_list = list(data_a_record_4[i].loc[b+1:].index)
#     data_a_record_4[i].drop(a_list, inplace=True)

In [31]:
# for i in range(0, len(data_b_label_50)):
#     data_b_record_1[i].reset_index(drop=False, inplace=True)
#     b = data_b_record_1[i].query("timestamp == @data_b_50_finish_time[@i]").index[0]
#     a_list = list(data_b_record_1[i].loc[b+1:].index)
#     data_b_record_1[i].drop(a_list, inplace=True)

# for i in range(0, len(data_b_label_60)):
#     data_b_record_2[i].reset_index(drop=False, inplace=True)
#     b = data_b_record_2[i].query("timestamp == @data_b_60_finish_time[@i]").index[0]
#     a_list = list(data_b_record_2[i].loc[b+1:].index)
#     data_b_record_2[i].drop(a_list, inplace=True)

# for i in range(0, len(data_b_label_70)):
#     data_b_record_3[i].reset_index(drop=False, inplace=True)
#     b = data_b_record_3[i].query("timestamp == @data_b_70_finish_time[@i]").index[0]
#     a_list = list(data_b_record_3[i].loc[b+1:].index)
#     data_b_record_3[i].drop(a_list, inplace=True)

# for i in range(0, len(data_b_label_80)):
#     data_b_record_4[i].reset_index(drop=False, inplace=True)
#     b = data_b_record_4[i].query("timestamp == @data_b_80_finish_time[@i]").index[0]
#     a_list = list(data_b_record_4[i].loc[b+1:].index)
#     data_b_record_4[i].drop(a_list, inplace=True)

In [32]:
# for i in range(0, len(data_c_label_50)):
#     data_c_record_1[i].reset_index(drop=False, inplace=True)
#     b = data_c_record_1[i].query("timestamp == @data_c_50_finish_time[@i]").index[0]
#     a_list = list(data_c_record_1[i].loc[b+1:].index)
#     data_c_record_1[i].drop(a_list, inplace=True)

# for i in range(0, len(data_c_label_60)):
#     data_c_record_2[i].reset_index(drop=False, inplace=True)
#     b = data_c_record_2[i].query("timestamp == @data_c_60_finish_time[@i]").index[0]
#     a_list = list(data_c_record_2[i].loc[b+1:].index)
#     data_c_record_2[i].drop(a_list, inplace=True)

# for i in range(0, len(data_c_label_70)):
#     data_c_record_3[i].reset_index(drop=False, inplace=True)
#     b = data_c_record_3[i].query("timestamp == @data_c_70_finish_time[@i]").index[0]
#     a_list = list(data_c_record_3[i].loc[b+1:].index)
#     data_c_record_3[i].drop(a_list, inplace=True)

# for i in range(0, len(data_c_label_80)):
#     data_c_record_4[i].reset_index(drop=False, inplace=True)
#     b = data_c_record_4[i].query("timestamp == @data_c_80_finish_time[@i]").index[0]
#     a_list = list(data_c_record_4[i].loc[b+1:].index)
#     data_c_record_4[i].drop(a_list, inplace=True)

In [33]:
# for i in range(0, len(data_d_label_50)):
#     data_d_record_1[i].reset_index(drop=False, inplace=True)
#     b = data_d_record_1[i].query("timestamp == @data_d_50_finish_time[@i]").index[0]
#     a_list = list(data_d_record_1[i].loc[b+1:].index)
#     data_d_record_1[i].drop(a_list, inplace=True)

# for i in range(0, len(data_d_label_60)):
#     data_d_record_2[i].reset_index(drop=False, inplace=True)
#     b = data_d_record_2[i].query("timestamp == @data_d_60_finish_time[@i]").index[0]
#     a_list = list(data_d_record_2[i].loc[b+1:].index)
#     data_d_record_2[i].drop(a_list, inplace=True)

# for i in range(0, len(data_d_label_70)):
#     data_d_record_3[i].reset_index(drop=False, inplace=True)
#     b = data_d_record_3[i].query("timestamp == @data_d_70_finish_time[@i]").index[0]
#     a_list = list(data_d_record_3[i].loc[b+1:].index)
#     data_d_record_3[i].drop(a_list, inplace=True)

# for i in range(0, len(data_d_label_80)):
#     data_d_record_4[i].reset_index(drop=False, inplace=True)
#     b = data_d_record_4[i].query("timestamp == @data_d_80_finish_time[@i]").index[0]
#     a_list = list(data_d_record_4[i].loc[b+1:].index)
#     data_d_record_4[i].drop(a_list, inplace=True)

In [34]:
data_a_record_1[469]

,frame,face_id,confidence,success,gaze_0_x,gaze_0_y,gaze_0_z,gaze_1_x,gaze_1_y,gaze_1_z,...,AU12_c,AU14_c,AU15_c,AU17_c,AU20_c,AU23_c,AU25_c,AU26_c,AU28_c,AU45_c
timestamp,,,,,,,,,,,,,,,,,,,,,
2020-11-11 12:54:49.000,22151,0,0.98,1,0.138382,0.226194,-0.964203,-0.184640,0.282566,-0.941310,...,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
2020-11-11 12:54:49.040,22152,0,0.98,1,0.150404,0.256023,-0.954898,-0.198470,0.279406,-0.939437,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
2020-11-11 12:54:49.080,22153,0,0.98,1,0.146941,0.259883,-0.954395,-0.203600,0.289895,-0.935151,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
2020-11-11 12:54:49.120,22154,0,0.98,1,0.160611,0.268602,-0.949767,-0.200128,0.286530,-0.936936,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
2020-11-11 12:54:49.160,22155,0,0.93,1,0.131256,0.274746,-0.952516,-0.196783,0.272284,-0.941880,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-11-11 12:54:52.800,22246,0,0.88,1,0.141102,0.230982,-0.962672,-0.226120,0.310498,-0.923288,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2020-11-11 12:54:52.840,22247,0,0.88,1,0.141965,0.231636,-0.962388,-0.225956,0.312544,-0.922638,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2020-11-11 12:54:52.880,22248,0,0.88,1,0.141512,0.225003,-0.964027,-0.227794,0.310914,-0.922736,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2020-11-11 12:54:52.920,22249,0,0.88,1,0.141603,0.228234,-0.963254,-0.227962,0.319790,-0.919656,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2020-11-11 12:54:52.960,22250,0,0.88,1,0.139769,0.228064,-0.963562,-0.224961,0.312978,-0.922734,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [35]:
#success列が1のものを抽出
#success=0で失敗，success=1で成功を表している

#ユーザーA
data_a_record_1 = [data_a_record_1[i][data_a_record_1[i].success== 1]for i in range(0, len(data_a_label_50))]
data_a_record_2 = [data_a_record_2[i][data_a_record_2[i].success== 1]for i in range(0, len(data_a_label_60))]
data_a_record_3 = [data_a_record_3[i][data_a_record_3[i].success== 1]for i in range(0, len(data_a_label_70))]
data_a_record_4 = [data_a_record_4[i][data_a_record_4[i].success== 1]for i in range(0, len(data_a_label_80))]

#ユーザーB
data_b_record_1 = [data_b_record_1[i][data_b_record_1[i].success== 1]for i in range(0, len(data_b_label_50))]
data_b_record_2 = [data_b_record_2[i][data_b_record_2[i].success== 1]for i in range(0, len(data_b_label_60))]
data_b_record_3 = [data_b_record_3[i][data_b_record_3[i].success== 1]for i in range(0, len(data_b_label_70))]
data_b_record_4 = [data_b_record_4[i][data_b_record_4[i].success== 1]for i in range(0, len(data_b_label_80))]

#ユーザーC
data_c_record_1 = [data_c_record_1[i][data_c_record_1[i].success== 1]for i in range(0, len(data_c_label_50))]
data_c_record_2 = [data_c_record_2[i][data_c_record_2[i].success== 1]for i in range(0, len(data_c_label_60))]
data_c_record_3 = [data_c_record_3[i][data_c_record_3[i].success== 1]for i in range(0, len(data_c_label_70))]
data_c_record_4 = [data_c_record_4[i][data_c_record_4[i].success== 1]for i in range(0, len(data_c_label_80))]

#ユーザーD
data_d_record_1 = [data_d_record_1[i][data_d_record_1[i].success== 1]for i in range(0, len(data_d_label_50))]
data_d_record_2 = [data_d_record_2[i][data_d_record_2[i].success== 1]for i in range(0, len(data_d_label_60))]
data_d_record_3 = [data_d_record_3[i][data_d_record_3[i].success== 1]for i in range(0, len(data_d_label_70))]
data_d_record_4 = [data_d_record_4[i][data_d_record_4[i].success== 1]for i in range(0, len(data_d_label_80))]

In [36]:
#特徴量として抽出する場所の列番号を取得
start = data_a_record_1[0].columns.get_loc('AU01_r')
finish = data_a_record_1[0].columns.get_loc('AU45_r') + 1

In [37]:
data_a_record_1[0]

,frame,face_id,confidence,success,gaze_0_x,gaze_0_y,gaze_0_z,gaze_1_x,gaze_1_y,gaze_1_z,...,AU12_c,AU14_c,AU15_c,AU17_c,AU20_c,AU23_c,AU25_c,AU26_c,AU28_c,AU45_c
timestamp,,,,,,,,,,,,,,,,,,,,,
2020-11-11 12:40:18.000,376,0,0.98,1,0.111620,0.314624,-0.942631,-0.230731,0.286834,-0.929779,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
2020-11-11 12:40:18.040,377,0,0.98,1,0.106992,0.256889,-0.960500,-0.219855,0.237957,-0.946066,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
2020-11-11 12:40:18.080,378,0,0.98,1,0.114869,0.238841,-0.964241,-0.212233,0.231515,-0.949399,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
2020-11-11 12:40:18.120,379,0,0.98,1,-0.010417,0.245321,-0.969386,-0.211814,0.197175,-0.957213,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
2020-11-11 12:40:18.160,380,0,0.98,1,0.005257,0.231822,-0.972744,-0.190059,0.174235,-0.966188,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-11-11 12:40:21.800,471,0,0.98,1,0.237843,0.403843,-0.883370,-0.212046,0.434117,-0.875545,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0
2020-11-11 12:40:21.840,472,0,0.98,1,0.169221,0.393176,-0.903757,-0.225162,0.442170,-0.868209,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0
2020-11-11 12:40:21.880,473,0,0.98,1,0.172224,0.394931,-0.902424,-0.220175,0.442825,-0.869154,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0
2020-11-11 12:40:21.920,474,0,0.98,1,0.155959,0.413477,-0.897058,-0.217528,0.444183,-0.869128,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0
2020-11-11 12:40:21.960,475,0,0.98,1,0.146256,0.433707,-0.889105,-0.184883,0.454924,-0.871127,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0

In [38]:
data_columns = data_d_record_1[0].iloc[:, start:finish].columns

In [39]:
#アクションユニット(AU)の平均値を算出
#列名を定義
AU_mean_number_list = data_columns + "_mean"

#ユーザーA
data_a_record_1_AU_mean = [np.mean(data_a_record_1[i].iloc[:, start:finish])for i in range(0, len(data_a_record_1))]
data_a_record_2_AU_mean = [np.mean(data_a_record_2[i].iloc[:, start:finish])for i in range(0, len(data_a_record_2))]
data_a_record_3_AU_mean = [np.mean(data_a_record_3[i].iloc[:, start:finish])for i in range(0, len(data_a_record_3))]
data_a_record_4_AU_mean = [np.mean(data_a_record_4[i].iloc[:, start:finish])for i in range(0, len(data_a_record_4))]

data_a_record_1_AU_mean = pd.DataFrame(data_a_record_1_AU_mean)
data_a_record_2_AU_mean = pd.DataFrame(data_a_record_2_AU_mean)
data_a_record_3_AU_mean = pd.DataFrame(data_a_record_3_AU_mean)
data_a_record_4_AU_mean = pd.DataFrame(data_a_record_4_AU_mean)

data_a_record_1_AU_mean.columns = AU_mean_number_list
data_a_record_2_AU_mean.columns = AU_mean_number_list
data_a_record_3_AU_mean.columns = AU_mean_number_list
data_a_record_4_AU_mean.columns = AU_mean_number_list

#ユーザーB
data_b_record_1_AU_mean = [np.mean(data_b_record_1[i].iloc[:, start:finish])for i in range(0, len(data_b_record_1))]
data_b_record_2_AU_mean = [np.mean(data_b_record_2[i].iloc[:, start:finish])for i in range(0, len(data_b_record_2))]
data_b_record_3_AU_mean = [np.mean(data_b_record_3[i].iloc[:, start:finish])for i in range(0, len(data_b_record_3))]
data_b_record_4_AU_mean = [np.mean(data_b_record_4[i].iloc[:, start:finish])for i in range(0, len(data_b_record_4))]

data_b_record_1_AU_mean = pd.DataFrame(data_b_record_1_AU_mean)
data_b_record_2_AU_mean = pd.DataFrame(data_b_record_2_AU_mean)
data_b_record_3_AU_mean = pd.DataFrame(data_b_record_3_AU_mean)
data_b_record_4_AU_mean = pd.DataFrame(data_b_record_4_AU_mean)

data_b_record_1_AU_mean.columns = AU_mean_number_list
data_b_record_2_AU_mean.columns = AU_mean_number_list
data_b_record_3_AU_mean.columns = AU_mean_number_list
data_b_record_4_AU_mean.columns = AU_mean_number_list

#ユーザーC
data_c_record_1_AU_mean = [np.mean(data_c_record_1[i].iloc[:, start:finish])for i in range(0, len(data_c_record_1))]
data_c_record_2_AU_mean = [np.mean(data_c_record_2[i].iloc[:, start:finish])for i in range(0, len(data_c_record_2))]
data_c_record_3_AU_mean = [np.mean(data_c_record_3[i].iloc[:, start:finish])for i in range(0, len(data_c_record_3))]
data_c_record_4_AU_mean = [np.mean(data_c_record_4[i].iloc[:, start:finish])for i in range(0, len(data_c_record_4))]

data_c_record_1_AU_mean = pd.DataFrame(data_c_record_1_AU_mean)
data_c_record_2_AU_mean = pd.DataFrame(data_c_record_2_AU_mean)
data_c_record_3_AU_mean = pd.DataFrame(data_c_record_3_AU_mean)
data_c_record_4_AU_mean = pd.DataFrame(data_c_record_4_AU_mean)

data_c_record_1_AU_mean.columns = AU_mean_number_list
data_c_record_2_AU_mean.columns = AU_mean_number_list
data_c_record_3_AU_mean.columns = AU_mean_number_list
data_c_record_4_AU_mean.columns = AU_mean_number_list

#ユーザーD
data_d_record_1_AU_mean = [np.mean(data_d_record_1[i].iloc[:, start:finish])for i in range(0, len(data_d_record_1))]
data_d_record_2_AU_mean = [np.mean(data_d_record_2[i].iloc[:, start:finish])for i in range(0, len(data_d_record_2))]
data_d_record_3_AU_mean = [np.mean(data_d_record_3[i].iloc[:, start:finish])for i in range(0, len(data_d_record_3))]
data_d_record_4_AU_mean = [np.mean(data_d_record_4[i].iloc[:, start:finish])for i in range(0, len(data_d_record_4))]

data_d_record_1_AU_mean = pd.DataFrame(data_d_record_1_AU_mean)
data_d_record_2_AU_mean = pd.DataFrame(data_d_record_2_AU_mean)
data_d_record_3_AU_mean = pd.DataFrame(data_d_record_3_AU_mean)
data_d_record_4_AU_mean = pd.DataFrame(data_d_record_4_AU_mean)

data_d_record_1_AU_mean.columns = AU_mean_number_list
data_d_record_2_AU_mean.columns = AU_mean_number_list
data_d_record_3_AU_mean.columns = AU_mean_number_list
data_d_record_4_AU_mean.columns = AU_mean_number_list

In [40]:
#編集後のデータを表示
data_a_record_1_AU_mean

,AU01_r_mean,AU02_r_mean,AU04_r_mean,AU05_r_mean,AU06_r_mean,AU07_r_mean,AU09_r_mean,AU10_r_mean,AU12_r_mean,AU14_r_mean,AU15_r_mean,AU17_r_mean,AU20_r_mean,AU23_r_mean,AU25_r_mean,AU26_r_mean,AU45_r_mean
0,0.5649,0.2213,1.0767,0.1783,0.5775,1.5641,0.1577,0.6055,0.3884,0.3916,0.7649,1.6791,0.3608,0.7430,0.8760,0.9674,0.7267
1,1.0120,0.3186,0.6725,0.0188,0.5692,1.6986,0.0123,0.3477,0.3971,0.3902,0.6651,1.4990,0.4321,1.1095,0.6811,1.1295,0.4763
2,1.0463,0.3226,0.6045,0.0119,0.5658,1.6246,0.0000,0.2812,0.4533,0.4540,0.7985,1.4541,0.5680,1.0582,0.5007,1.0395,0.2975
3,1.0302,0.2876,0.4861,0.0336,0.5558,1.3981,0.0110,0.3858,0.3708,0.2987,1.4404,1.3648,0.6319,0.9992,0.4796,1.0004,0.4497
4,0.5446,0.1019,0.5609,0.0361,0.7159,1.0777,0.1864,0.6056,0.3238,0.1751,1.9139,1.0922,0.8141,0.3824,0.5346,0.5222,0.8451
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465,0.0000,0.0000,0.6291,0.0018,1.2402,1.0845,0.1627,1.0080,0.9574,0.8510,0.1102,0.0995,0.1185,0.0024,0.2925,0.0000,0.0249
466,0.0023,0.0000,0.7542,0.0025,1.0974,1.1290,0.0490,1.1279,0.7682,0.7311,0.2284,0.1146,0.1246,0.0000,0.4329,0.0000,0.0249
467,0.0490,0.0000,1.8060,0.0000,0.7769,1.9203,0.0052,0.3254,0.5851,0.7097,0.5741,1.4234,0.1264,0.7522,0.9655,2.0749,0.2120
468,0.0342,0.0000,1.7177,0.0000,0.8409,2.0180,0.0006,0.3152,0.8769,0.8491,0.4274,1.7737,0.1152,0.8655,0.5702,1.9012,0.2173
469,0.0000,0.0000,1.5535,0.0000,0.9965,1.9802,0.0006,0.3576,1.1285,0.9466,0.0934,1.8645,0.0206,1.0352,0.1763,1.5081,0.2176

In [41]:
#アクションユニット(AU)の分散を算出
#列名を定義
AU_var_number_list = data_columns + "_var"

#ユーザーA
data_a_record_1_AU_var = [np.var(data_a_record_1[i].iloc[:, start:finish])for i in range(0, len(data_a_record_1))]
data_a_record_2_AU_var = [np.var(data_a_record_2[i].iloc[:, start:finish])for i in range(0, len(data_a_record_2))]
data_a_record_3_AU_var = [np.var(data_a_record_3[i].iloc[:, start:finish])for i in range(0, len(data_a_record_3))]
data_a_record_4_AU_var = [np.var(data_a_record_4[i].iloc[:, start:finish])for i in range(0, len(data_a_record_4))]

data_a_record_1_AU_var = pd.DataFrame(data_a_record_1_AU_var)
data_a_record_2_AU_var = pd.DataFrame(data_a_record_2_AU_var)
data_a_record_3_AU_var = pd.DataFrame(data_a_record_3_AU_var)
data_a_record_4_AU_var = pd.DataFrame(data_a_record_4_AU_var)

data_a_record_1_AU_var.columns = AU_var_number_list
data_a_record_2_AU_var.columns = AU_var_number_list
data_a_record_3_AU_var.columns = AU_var_number_list
data_a_record_4_AU_var.columns = AU_var_number_list

#ユーザーB
data_b_record_1_AU_var = [np.var(data_b_record_1[i].iloc[:, start:finish])for i in range(0, len(data_b_record_1))]
data_b_record_2_AU_var = [np.var(data_b_record_2[i].iloc[:, start:finish])for i in range(0, len(data_b_record_2))]
data_b_record_3_AU_var = [np.var(data_b_record_3[i].iloc[:, start:finish])for i in range(0, len(data_b_record_3))]
data_b_record_4_AU_var = [np.var(data_b_record_4[i].iloc[:, start:finish])for i in range(0, len(data_b_record_4))]

data_b_record_1_AU_var = pd.DataFrame(data_b_record_1_AU_var)
data_b_record_2_AU_var = pd.DataFrame(data_b_record_2_AU_var)
data_b_record_3_AU_var = pd.DataFrame(data_b_record_3_AU_var)
data_b_record_4_AU_var = pd.DataFrame(data_b_record_4_AU_var)

data_b_record_1_AU_var.columns = AU_var_number_list
data_b_record_2_AU_var.columns = AU_var_number_list
data_b_record_3_AU_var.columns = AU_var_number_list
data_b_record_4_AU_var.columns = AU_var_number_list

#ユーザーC
data_c_record_1_AU_var = [np.var(data_c_record_1[i].iloc[:, start:finish])for i in range(0, len(data_c_record_1))]
data_c_record_2_AU_var = [np.var(data_c_record_2[i].iloc[:, start:finish])for i in range(0, len(data_c_record_2))]
data_c_record_3_AU_var = [np.var(data_c_record_3[i].iloc[:, start:finish])for i in range(0, len(data_c_record_3))]
data_c_record_4_AU_var = [np.var(data_c_record_4[i].iloc[:, start:finish])for i in range(0, len(data_c_record_4))]

data_c_record_1_AU_var = pd.DataFrame(data_c_record_1_AU_var)
data_c_record_2_AU_var = pd.DataFrame(data_c_record_2_AU_var)
data_c_record_3_AU_var = pd.DataFrame(data_c_record_3_AU_var)
data_c_record_4_AU_var = pd.DataFrame(data_c_record_4_AU_var)

data_c_record_1_AU_var.columns = AU_var_number_list
data_c_record_2_AU_var.columns = AU_var_number_list
data_c_record_3_AU_var.columns = AU_var_number_list
data_c_record_4_AU_var.columns = AU_var_number_list

#ユーザーD
data_d_record_1_AU_var = [np.var(data_d_record_1[i].iloc[:, start:finish])for i in range(0, len(data_d_record_1))]
data_d_record_2_AU_var = [np.var(data_d_record_2[i].iloc[:, start:finish])for i in range(0, len(data_d_record_2))]
data_d_record_3_AU_var = [np.var(data_d_record_3[i].iloc[:, start:finish])for i in range(0, len(data_d_record_3))]
data_d_record_4_AU_var = [np.var(data_d_record_4[i].iloc[:, start:finish])for i in range(0, len(data_d_record_4))]

data_d_record_1_AU_var = pd.DataFrame(data_d_record_1_AU_var)
data_d_record_2_AU_var = pd.DataFrame(data_d_record_2_AU_var)
data_d_record_3_AU_var = pd.DataFrame(data_d_record_3_AU_var)
data_d_record_4_AU_var = pd.DataFrame(data_d_record_4_AU_var)

data_d_record_1_AU_var.columns = AU_var_number_list
data_d_record_2_AU_var.columns = AU_var_number_list
data_d_record_3_AU_var.columns = AU_var_number_list
data_d_record_4_AU_var.columns = AU_var_number_list

In [42]:
data_a_record_1_AU_var

,AU01_r_var,AU02_r_var,AU04_r_var,AU05_r_var,AU06_r_var,AU07_r_var,AU09_r_var,AU10_r_var,AU12_r_var,AU14_r_var,AU15_r_var,AU17_r_var,AU20_r_var,AU23_r_var,AU25_r_var,AU26_r_var,AU45_r_var
0,0.685501,0.128251,0.922334,0.140228,0.208859,0.803244,0.086296,0.310965,0.186783,0.145061,0.606603,0.339468,0.249441,1.149731,0.709820,0.567141,0.477356
1,0.987444,0.118866,0.421529,0.002607,0.214305,0.509102,0.002614,0.196218,0.164863,0.161238,0.615011,0.309521,0.251055,1.341115,0.354884,0.689775,0.373263
2,0.945145,0.117199,0.301981,0.001015,0.204414,0.397577,0.000000,0.064957,0.188432,0.221200,1.250575,0.161722,0.379748,1.406123,0.243469,0.819371,0.173489
3,0.969416,0.112302,0.292212,0.004713,0.102304,0.243681,0.003653,0.102548,0.174261,0.151773,2.486542,0.116547,0.386083,1.449999,0.250100,0.869310,0.304521
4,0.775643,0.033679,0.250890,0.004722,0.102190,0.221434,0.097657,0.175019,0.132942,0.139795,1.916878,0.373873,0.268524,0.727504,0.237983,0.651691,0.554569
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465,0.000000,0.000000,0.117004,0.000051,0.110250,0.070861,0.040122,0.087792,0.135229,0.065687,0.024428,0.012907,0.024961,0.000100,0.122229,0.000000,0.011075
466,0.000122,0.000000,0.110382,0.000061,0.167621,0.050979,0.012109,0.035883,0.181807,0.086352,0.069279,0.011679,0.023829,0.000000,0.124765,0.000000,0.011075
467,0.013379,0.000000,0.093796,0.000000,0.116935,0.164625,0.000421,0.053303,0.322053,0.487173,0.352602,0.536482,0.053945,0.624159,0.622111,0.674235,0.120826
468,0.011928,0.000000,0.135772,0.000000,0.123240,0.094866,0.000012,0.032325,0.284411,0.380530,0.388311,0.391025,0.055019,0.564265,0.592222,0.887629,0.119554
469,0.000000,0.000000,0.092195,0.000000,0.049091,0.076230,0.000012,0.021790,0.154171,0.270472,0.068678,0.228475,0.005906,0.361275,0.153849,1.471575,0.119414

In [43]:
#アクションユニット(AU)の標準偏差を算出
#列名を定義
AU_std_number_list = data_columns + "_std"

#ユーザーA
data_a_record_1_AU_std = [np.std(data_a_record_1[i].iloc[:, start:finish])for i in range(0, len(data_a_record_1))]
data_a_record_2_AU_std = [np.std(data_a_record_2[i].iloc[:, start:finish])for i in range(0, len(data_a_record_2))]
data_a_record_3_AU_std = [np.std(data_a_record_3[i].iloc[:, start:finish])for i in range(0, len(data_a_record_3))]
data_a_record_4_AU_std = [np.std(data_a_record_4[i].iloc[:, start:finish])for i in range(0, len(data_a_record_4))]

data_a_record_1_AU_std = pd.DataFrame(data_a_record_1_AU_std)
data_a_record_2_AU_std = pd.DataFrame(data_a_record_2_AU_std)
data_a_record_3_AU_std = pd.DataFrame(data_a_record_3_AU_std)
data_a_record_4_AU_std = pd.DataFrame(data_a_record_4_AU_std)

data_a_record_1_AU_std.columns = AU_std_number_list
data_a_record_2_AU_std.columns = AU_std_number_list
data_a_record_3_AU_std.columns = AU_std_number_list
data_a_record_4_AU_std.columns = AU_std_number_list

#ユーザーB
data_b_record_1_AU_std = [np.std(data_b_record_1[i].iloc[:, start:finish])for i in range(0, len(data_b_record_1))]
data_b_record_2_AU_std = [np.std(data_b_record_2[i].iloc[:, start:finish])for i in range(0, len(data_b_record_2))]
data_b_record_3_AU_std = [np.std(data_b_record_3[i].iloc[:, start:finish])for i in range(0, len(data_b_record_3))]
data_b_record_4_AU_std = [np.std(data_b_record_4[i].iloc[:, start:finish])for i in range(0, len(data_b_record_4))]

data_b_record_1_AU_std = pd.DataFrame(data_b_record_1_AU_std)
data_b_record_2_AU_std = pd.DataFrame(data_b_record_2_AU_std)
data_b_record_3_AU_std = pd.DataFrame(data_b_record_3_AU_std)
data_b_record_4_AU_std = pd.DataFrame(data_b_record_4_AU_std)

data_b_record_1_AU_std.columns = AU_std_number_list
data_b_record_2_AU_std.columns = AU_std_number_list
data_b_record_3_AU_std.columns = AU_std_number_list
data_b_record_4_AU_std.columns = AU_std_number_list

#ユーザーC
data_c_record_1_AU_std = [np.std(data_c_record_1[i].iloc[:, start:finish])for i in range(0, len(data_c_record_1))]
data_c_record_2_AU_std = [np.std(data_c_record_2[i].iloc[:, start:finish])for i in range(0, len(data_c_record_2))]
data_c_record_3_AU_std = [np.std(data_c_record_3[i].iloc[:, start:finish])for i in range(0, len(data_c_record_3))]
data_c_record_4_AU_std = [np.std(data_c_record_4[i].iloc[:, start:finish])for i in range(0, len(data_c_record_4))]

data_c_record_1_AU_std = pd.DataFrame(data_c_record_1_AU_std)
data_c_record_2_AU_std = pd.DataFrame(data_c_record_2_AU_std)
data_c_record_3_AU_std = pd.DataFrame(data_c_record_3_AU_std)
data_c_record_4_AU_std = pd.DataFrame(data_c_record_4_AU_std)

data_c_record_1_AU_std.columns = AU_std_number_list
data_c_record_2_AU_std.columns = AU_std_number_list
data_c_record_3_AU_std.columns = AU_std_number_list
data_c_record_4_AU_std.columns = AU_std_number_list

#ユーザーD
data_d_record_1_AU_std = [np.std(data_d_record_1[i].iloc[:, start:finish])for i in range(0, len(data_d_record_1))]
data_d_record_2_AU_std = [np.std(data_d_record_2[i].iloc[:, start:finish])for i in range(0, len(data_d_record_2))]
data_d_record_3_AU_std = [np.std(data_d_record_3[i].iloc[:, start:finish])for i in range(0, len(data_d_record_3))]
data_d_record_4_AU_std = [np.std(data_d_record_4[i].iloc[:, start:finish])for i in range(0, len(data_d_record_4))]

data_d_record_1_AU_std = pd.DataFrame(data_d_record_1_AU_std)
data_d_record_2_AU_std = pd.DataFrame(data_d_record_2_AU_std)
data_d_record_3_AU_std = pd.DataFrame(data_d_record_3_AU_std)
data_d_record_4_AU_std = pd.DataFrame(data_d_record_4_AU_std)

data_d_record_1_AU_std.columns = AU_std_number_list
data_d_record_2_AU_std.columns = AU_std_number_list
data_d_record_3_AU_std.columns = AU_std_number_list
data_d_record_4_AU_std.columns = AU_std_number_list

In [44]:
data_a_record_1_AU_std

,AU01_r_std,AU02_r_std,AU04_r_std,AU05_r_std,AU06_r_std,AU07_r_std,AU09_r_std,AU10_r_std,AU12_r_std,AU14_r_std,AU15_r_std,AU17_r_std,AU20_r_std,AU23_r_std,AU25_r_std,AU26_r_std,AU45_r_std
0,0.827950,0.358122,0.960382,0.374470,0.457011,0.896239,0.293761,0.557642,0.432184,0.380869,0.778847,0.582639,0.499441,1.072255,0.842508,0.753088,0.690910
1,0.993702,0.344770,0.649252,0.051054,0.462931,0.713514,0.051124,0.442965,0.406033,0.401544,0.784226,0.556346,0.501053,1.158065,0.595721,0.830527,0.610953
2,0.972186,0.342344,0.549528,0.031865,0.452122,0.630537,0.000000,0.254866,0.434088,0.470319,1.118291,0.402147,0.616237,1.185800,0.493425,0.905191,0.416520
3,0.984589,0.335115,0.540566,0.068652,0.319851,0.493641,0.060440,0.320232,0.417446,0.389581,1.576877,0.341390,0.621356,1.204159,0.500100,0.932368,0.551834
4,0.880706,0.183519,0.500889,0.068715,0.319672,0.470567,0.312501,0.418352,0.364612,0.373892,1.384514,0.611452,0.518193,0.852939,0.487835,0.807274,0.744694
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465,0.000000,0.000000,0.342059,0.007125,0.332039,0.266197,0.200304,0.296297,0.367735,0.256295,0.156294,0.113608,0.157990,0.010012,0.349612,0.000000,0.105238
466,0.011032,0.000000,0.332238,0.007794,0.409416,0.225785,0.110041,0.189427,0.426388,0.293857,0.263210,0.108069,0.154366,0.000000,0.353220,0.000000,0.105238
467,0.115668,0.000000,0.306261,0.000000,0.341958,0.405740,0.020517,0.230874,0.567497,0.697978,0.593803,0.732450,0.232261,0.790037,0.788740,0.821118,0.347600
468,0.109217,0.000000,0.368472,0.000000,0.351056,0.308003,0.003412,0.179791,0.533302,0.616871,0.623146,0.625320,0.234561,0.751176,0.769560,0.942140,0.345765
469,0.000000,0.000000,0.303636,0.000000,0.221564,0.276098,0.003412,0.147615,0.392646,0.520070,0.262066,0.477990,0.076848,0.601062,0.392236,1.213085,0.345564

In [45]:
#アクションユニット(AU)の最大値を算出
#列名を定義
AU_max_number_list = data_columns + "_max"

#ユーザーA
data_a_record_1_AU_max = [np.max(data_a_record_1[i].iloc[:, start:finish])for i in range(0, len(data_a_record_1))]
data_a_record_2_AU_max = [np.max(data_a_record_2[i].iloc[:, start:finish])for i in range(0, len(data_a_record_2))]
data_a_record_3_AU_max = [np.max(data_a_record_3[i].iloc[:, start:finish])for i in range(0, len(data_a_record_3))]
data_a_record_4_AU_max = [np.max(data_a_record_4[i].iloc[:, start:finish])for i in range(0, len(data_a_record_4))]

data_a_record_1_AU_max = pd.DataFrame(data_a_record_1_AU_max)
data_a_record_2_AU_max = pd.DataFrame(data_a_record_2_AU_max)
data_a_record_3_AU_max = pd.DataFrame(data_a_record_3_AU_max)
data_a_record_4_AU_max = pd.DataFrame(data_a_record_4_AU_max)

data_a_record_1_AU_max.columns = AU_max_number_list
data_a_record_2_AU_max.columns = AU_max_number_list
data_a_record_3_AU_max.columns = AU_max_number_list
data_a_record_4_AU_max.columns = AU_max_number_list

#ユーザーB
data_b_record_1_AU_max = [np.max(data_b_record_1[i].iloc[:, start:finish])for i in range(0, len(data_b_record_1))]
data_b_record_2_AU_max = [np.max(data_b_record_2[i].iloc[:, start:finish])for i in range(0, len(data_b_record_2))]
data_b_record_3_AU_max = [np.max(data_b_record_3[i].iloc[:, start:finish])for i in range(0, len(data_b_record_3))]
data_b_record_4_AU_max = [np.max(data_b_record_4[i].iloc[:, start:finish])for i in range(0, len(data_b_record_4))]

data_b_record_1_AU_max = pd.DataFrame(data_b_record_1_AU_max)
data_b_record_2_AU_max = pd.DataFrame(data_b_record_2_AU_max)
data_b_record_3_AU_max = pd.DataFrame(data_b_record_3_AU_max)
data_b_record_4_AU_max = pd.DataFrame(data_b_record_4_AU_max)

data_b_record_1_AU_max.columns = AU_max_number_list
data_b_record_2_AU_max.columns = AU_max_number_list
data_b_record_3_AU_max.columns = AU_max_number_list
data_b_record_4_AU_max.columns = AU_max_number_list

#ユーザーC
data_c_record_1_AU_max = [np.max(data_c_record_1[i].iloc[:, start:finish])for i in range(0, len(data_c_record_1))]
data_c_record_2_AU_max = [np.max(data_c_record_2[i].iloc[:, start:finish])for i in range(0, len(data_c_record_2))]
data_c_record_3_AU_max = [np.max(data_c_record_3[i].iloc[:, start:finish])for i in range(0, len(data_c_record_3))]
data_c_record_4_AU_max = [np.max(data_c_record_4[i].iloc[:, start:finish])for i in range(0, len(data_c_record_4))]

data_c_record_1_AU_max = pd.DataFrame(data_c_record_1_AU_max)
data_c_record_2_AU_max = pd.DataFrame(data_c_record_2_AU_max)
data_c_record_3_AU_max = pd.DataFrame(data_c_record_3_AU_max)
data_c_record_4_AU_max = pd.DataFrame(data_c_record_4_AU_max)

data_c_record_1_AU_max.columns = AU_max_number_list
data_c_record_2_AU_max.columns = AU_max_number_list
data_c_record_3_AU_max.columns = AU_max_number_list
data_c_record_4_AU_max.columns = AU_max_number_list

#ユーザーD
data_d_record_1_AU_max = [np.max(data_d_record_1[i].iloc[:, start:finish])for i in range(0, len(data_d_record_1))]
data_d_record_2_AU_max = [np.max(data_d_record_2[i].iloc[:, start:finish])for i in range(0, len(data_d_record_2))]
data_d_record_3_AU_max = [np.max(data_d_record_3[i].iloc[:, start:finish])for i in range(0, len(data_d_record_3))]
data_d_record_4_AU_max = [np.max(data_d_record_4[i].iloc[:, start:finish])for i in range(0, len(data_d_record_4))]

data_d_record_1_AU_max = pd.DataFrame(data_d_record_1_AU_max)
data_d_record_2_AU_max = pd.DataFrame(data_d_record_2_AU_max)
data_d_record_3_AU_max = pd.DataFrame(data_d_record_3_AU_max)
data_d_record_4_AU_max = pd.DataFrame(data_d_record_4_AU_max)

data_d_record_1_AU_max.columns = AU_max_number_list
data_d_record_2_AU_max.columns = AU_max_number_list
data_d_record_3_AU_max.columns = AU_max_number_list
data_d_record_4_AU_max.columns = AU_max_number_list

In [46]:
data_a_record_1_AU_max

,AU01_r_max,AU02_r_max,AU04_r_max,AU05_r_max,AU06_r_max,AU07_r_max,AU09_r_max,AU10_r_max,AU12_r_max,AU14_r_max,AU15_r_max,AU17_r_max,AU20_r_max,AU23_r_max,AU25_r_max,AU26_r_max,AU45_r_max
0,2.21,1.09,3.83,1.29,1.97,3.21,1.05,2.25,1.68,1.80,2.68,3.50,1.79,3.15,2.63,2.63,2.51
1,2.76,1.09,2.61,0.29,1.97,3.21,0.32,2.22,1.42,1.80,2.68,3.50,1.79,3.15,2.39,2.81,2.51
2,2.76,1.09,1.50,0.14,1.97,3.21,0.00,1.01,1.42,1.80,4.18,2.26,2.02,3.15,1.42,2.81,1.38
3,2.76,1.09,1.50,0.30,1.04,2.33,0.45,1.04,1.35,1.41,4.35,1.91,2.02,3.15,1.42,2.81,1.73
4,2.76,0.77,1.50,0.30,1.15,1.95,0.91,1.51,1.35,1.41,4.35,1.88,2.02,2.54,1.42,2.81,3.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465,0.00,0.00,1.18,0.03,1.75,1.60,0.54,1.50,1.60,1.46,0.61,0.40,0.57,0.06,0.94,0.00,0.62
466,0.08,0.00,1.18,0.03,1.75,1.49,0.42,1.50,1.60,1.46,0.76,0.40,0.57,0.00,0.94,0.00,0.62
467,0.51,0.00,2.47,0.00,1.42,2.74,0.14,1.01,1.62,1.90,2.18,2.78,1.02,2.86,2.60,3.84,1.60
468,0.51,0.00,2.47,0.00,1.42,2.74,0.02,0.69,1.62,1.90,2.18,2.78,1.02,2.86,2.60,3.84,1.60
469,0.00,0.00,2.30,0.00,1.42,2.74,0.02,0.69,1.62,1.90,1.45,2.78,0.59,2.86,1.36,3.84,1.60

In [47]:
#アクションユニット(AU)の最小値を算出
#列名を定義
AU_min_number_list = data_columns + "_min"

#ユーザーA
data_a_record_1_AU_min = [np.min(data_a_record_1[i].iloc[:, start:finish])for i in range(0, len(data_a_record_1))]
data_a_record_2_AU_min = [np.min(data_a_record_2[i].iloc[:, start:finish])for i in range(0, len(data_a_record_2))]
data_a_record_3_AU_min = [np.min(data_a_record_3[i].iloc[:, start:finish])for i in range(0, len(data_a_record_3))]
data_a_record_4_AU_min = [np.min(data_a_record_4[i].iloc[:, start:finish])for i in range(0, len(data_a_record_4))]

data_a_record_1_AU_min = pd.DataFrame(data_a_record_1_AU_min)
data_a_record_2_AU_min = pd.DataFrame(data_a_record_2_AU_min)
data_a_record_3_AU_min = pd.DataFrame(data_a_record_3_AU_min)
data_a_record_4_AU_min = pd.DataFrame(data_a_record_4_AU_min)

data_a_record_1_AU_min.columns = AU_min_number_list
data_a_record_2_AU_min.columns = AU_min_number_list
data_a_record_3_AU_min.columns = AU_min_number_list
data_a_record_4_AU_min.columns = AU_min_number_list

#ユーザーB
data_b_record_1_AU_min = [np.min(data_b_record_1[i].iloc[:, start:finish])for i in range(0, len(data_b_record_1))]
data_b_record_2_AU_min = [np.min(data_b_record_2[i].iloc[:, start:finish])for i in range(0, len(data_b_record_2))]
data_b_record_3_AU_min = [np.min(data_b_record_3[i].iloc[:, start:finish])for i in range(0, len(data_b_record_3))]
data_b_record_4_AU_min = [np.min(data_b_record_4[i].iloc[:, start:finish])for i in range(0, len(data_b_record_4))]

data_b_record_1_AU_min = pd.DataFrame(data_b_record_1_AU_min)
data_b_record_2_AU_min = pd.DataFrame(data_b_record_2_AU_min)
data_b_record_3_AU_min = pd.DataFrame(data_b_record_3_AU_min)
data_b_record_4_AU_min = pd.DataFrame(data_b_record_4_AU_min)

data_b_record_1_AU_min.columns = AU_min_number_list
data_b_record_2_AU_min.columns = AU_min_number_list
data_b_record_3_AU_min.columns = AU_min_number_list
data_b_record_4_AU_min.columns = AU_min_number_list

#ユーザーC
data_c_record_1_AU_min = [np.min(data_c_record_1[i].iloc[:, start:finish])for i in range(0, len(data_c_record_1))]
data_c_record_2_AU_min = [np.min(data_c_record_2[i].iloc[:, start:finish])for i in range(0, len(data_c_record_2))]
data_c_record_3_AU_min = [np.min(data_c_record_3[i].iloc[:, start:finish])for i in range(0, len(data_c_record_3))]
data_c_record_4_AU_min = [np.min(data_c_record_4[i].iloc[:, start:finish])for i in range(0, len(data_c_record_4))]

data_c_record_1_AU_min = pd.DataFrame(data_c_record_1_AU_min)
data_c_record_2_AU_min = pd.DataFrame(data_c_record_2_AU_min)
data_c_record_3_AU_min = pd.DataFrame(data_c_record_3_AU_min)
data_c_record_4_AU_min = pd.DataFrame(data_c_record_4_AU_min)

data_c_record_1_AU_min.columns = AU_min_number_list
data_c_record_2_AU_min.columns = AU_min_number_list
data_c_record_3_AU_min.columns = AU_min_number_list
data_c_record_4_AU_min.columns = AU_min_number_list

#ユーザーD
data_d_record_1_AU_min = [np.min(data_d_record_1[i].iloc[:, start:finish])for i in range(0, len(data_d_record_1))]
data_d_record_2_AU_min = [np.min(data_d_record_2[i].iloc[:, start:finish])for i in range(0, len(data_d_record_2))]
data_d_record_3_AU_min = [np.min(data_d_record_3[i].iloc[:, start:finish])for i in range(0, len(data_d_record_3))]
data_d_record_4_AU_min = [np.min(data_d_record_4[i].iloc[:, start:finish])for i in range(0, len(data_d_record_4))]

data_d_record_1_AU_min = pd.DataFrame(data_d_record_1_AU_min)
data_d_record_2_AU_min = pd.DataFrame(data_d_record_2_AU_min)
data_d_record_3_AU_min = pd.DataFrame(data_d_record_3_AU_min)
data_d_record_4_AU_min = pd.DataFrame(data_d_record_4_AU_min)

data_d_record_1_AU_min.columns = AU_min_number_list
data_d_record_2_AU_min.columns = AU_min_number_list
data_d_record_3_AU_min.columns = AU_min_number_list
data_d_record_4_AU_min.columns = AU_min_number_list

In [48]:
data_d_record_1_AU_min

,AU01_r_min,AU02_r_min,AU04_r_min,AU05_r_min,AU06_r_min,AU07_r_min,AU09_r_min,AU10_r_min,AU12_r_min,AU14_r_min,AU15_r_min,AU17_r_min,AU20_r_min,AU23_r_min,AU25_r_min,AU26_r_min,AU45_r_min
0,0.27,0.0,0.18,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.00,0.18,0.0,0.0,0.00,0.00,0.00
1,0.27,0.0,0.61,0.0,0.0,1.91,0.00,0.0,0.0,0.0,0.00,0.16,0.0,0.0,0.00,0.00,0.00
2,0.27,0.0,0.61,0.0,0.0,1.91,0.00,0.0,0.0,0.0,0.00,0.16,0.0,0.0,0.00,0.00,0.00
3,0.15,0.0,0.61,0.0,0.0,1.89,0.00,0.0,0.0,0.0,0.00,0.16,0.0,0.0,0.00,0.00,0.00
4,0.15,0.0,0.61,0.0,0.0,1.89,0.00,0.0,0.0,0.0,0.00,0.16,0.0,0.0,0.00,0.00,0.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
580,0.00,0.0,0.00,0.0,0.0,0.70,0.00,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.01
581,0.00,0.0,0.00,0.0,0.0,0.47,0.41,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.00
582,0.00,0.0,0.00,0.0,0.0,0.47,0.67,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.00,1.22,0.00
583,0.00,0.0,0.00,0.0,0.0,0.47,1.37,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.00,1.22,0.00
584,0.00,0.0,0.00,0.0,0.0,0.47,1.99,0.0,0.0,0.0,0.76,0.15,0.0,0.0,0.15,1.44,0.00

In [49]:
#AU特徴量のデータフレーム作成

#ユーザーA
data_a_record_1_AU_feature = pd.concat([data_a_record_1_AU_mean, data_a_record_1_AU_var, data_a_record_1_AU_std, data_a_record_1_AU_max, data_a_record_1_AU_min], axis=1)
data_a_record_2_AU_feature = pd.concat([data_a_record_2_AU_mean, data_a_record_2_AU_var, data_a_record_2_AU_std, data_a_record_2_AU_max, data_a_record_2_AU_min], axis=1)
data_a_record_3_AU_feature = pd.concat([data_a_record_3_AU_mean, data_a_record_3_AU_var, data_a_record_3_AU_std, data_a_record_3_AU_max, data_a_record_3_AU_min], axis=1)
data_a_record_4_AU_feature = pd.concat([data_a_record_4_AU_mean, data_a_record_4_AU_var, data_a_record_4_AU_std, data_a_record_4_AU_max, data_a_record_4_AU_min], axis=1)

#ユーザーB
data_b_record_1_AU_feature = pd.concat([data_b_record_1_AU_mean, data_b_record_1_AU_var, data_b_record_1_AU_std, data_b_record_1_AU_max, data_b_record_1_AU_min], axis=1)
data_b_record_2_AU_feature = pd.concat([data_b_record_2_AU_mean, data_b_record_2_AU_var, data_b_record_2_AU_std, data_b_record_2_AU_max, data_b_record_2_AU_min], axis=1)
data_b_record_3_AU_feature = pd.concat([data_b_record_3_AU_mean, data_b_record_3_AU_var, data_b_record_3_AU_std, data_b_record_3_AU_max, data_b_record_3_AU_min], axis=1)
data_b_record_4_AU_feature = pd.concat([data_b_record_4_AU_mean, data_b_record_4_AU_var, data_b_record_4_AU_std, data_b_record_4_AU_max, data_b_record_4_AU_min], axis=1)

#ユーザーC
data_c_record_1_AU_feature = pd.concat([data_c_record_1_AU_mean, data_c_record_1_AU_var, data_c_record_1_AU_std, data_c_record_1_AU_max, data_c_record_1_AU_min], axis=1)
data_c_record_2_AU_feature = pd.concat([data_c_record_2_AU_mean, data_c_record_2_AU_var, data_c_record_2_AU_std, data_c_record_2_AU_max, data_c_record_2_AU_min], axis=1)
data_c_record_3_AU_feature = pd.concat([data_c_record_3_AU_mean, data_c_record_3_AU_var, data_c_record_3_AU_std, data_c_record_3_AU_max, data_c_record_3_AU_min], axis=1)
data_c_record_4_AU_feature = pd.concat([data_c_record_4_AU_mean, data_c_record_4_AU_var, data_c_record_4_AU_std, data_c_record_4_AU_max, data_c_record_4_AU_min], axis=1)

#ユーザーD
data_d_record_1_AU_feature = pd.concat([data_d_record_1_AU_mean, data_d_record_1_AU_var, data_d_record_1_AU_std, data_d_record_1_AU_max, data_d_record_1_AU_min], axis=1)
data_d_record_2_AU_feature = pd.concat([data_d_record_2_AU_mean, data_d_record_2_AU_var, data_d_record_2_AU_std, data_d_record_2_AU_max, data_d_record_2_AU_min], axis=1)
data_d_record_3_AU_feature = pd.concat([data_d_record_3_AU_mean, data_d_record_3_AU_var, data_d_record_3_AU_std, data_d_record_3_AU_max, data_d_record_3_AU_min], axis=1)
data_d_record_4_AU_feature = pd.concat([data_d_record_4_AU_mean, data_d_record_4_AU_var, data_d_record_4_AU_std, data_d_record_4_AU_max, data_d_record_4_AU_min], axis=1)

In [50]:
#編集データを表示
data_a_record_3_AU_feature

,AU01_r_mean,AU02_r_mean,AU04_r_mean,AU05_r_mean,AU06_r_mean,AU07_r_mean,AU09_r_mean,AU10_r_mean,AU12_r_mean,AU14_r_mean,...,AU10_r_min,AU12_r_min,AU14_r_min,AU15_r_min,AU17_r_min,AU20_r_min,AU23_r_min,AU25_r_min,AU26_r_min,AU45_r_min
0,0.5649,0.2213,1.0767,0.1783,0.5775,1.5641,0.1577,0.6055,0.3884,0.3916,...,0.00,0.00,0.00,0.0,0.56,0.0,0.0,0.0,0.00,0.0
1,1.0120,0.3186,0.6725,0.0188,0.5692,1.6986,0.0123,0.3477,0.3971,0.3902,...,0.00,0.00,0.00,0.0,0.50,0.0,0.0,0.0,0.00,0.0
2,1.0463,0.3226,0.6045,0.0119,0.5658,1.6246,0.0000,0.2812,0.4533,0.4540,...,0.00,0.00,0.00,0.0,0.50,0.0,0.0,0.0,0.00,0.0
3,1.0302,0.2876,0.4861,0.0336,0.5558,1.3981,0.0110,0.3858,0.3708,0.2987,...,0.00,0.00,0.00,0.0,0.48,0.0,0.0,0.0,0.00,0.0
4,0.5446,0.1019,0.5609,0.0361,0.7159,1.0777,0.1864,0.6056,0.3238,0.1751,...,0.00,0.00,0.00,0.0,0.00,0.0,0.0,0.0,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436,0.0000,0.0000,0.6291,0.0018,1.2402,1.0845,0.1627,1.0080,0.9574,0.8510,...,0.37,0.39,0.37,0.0,0.00,0.0,0.0,0.0,0.00,0.0
437,0.0023,0.0000,0.7542,0.0025,1.0974,1.1290,0.0490,1.1279,0.7682,0.7311,...,0.56,0.25,0.27,0.0,0.00,0.0,0.0,0.0,0.00,0.0
438,0.0490,0.0000,1.8060,0.0000,0.7769,1.9203,0.0052,0.3254,0.5851,0.7097,...,0.00,0.00,0.00,0.0,0.14,0.0,0.0,0.0,0.74,0.0
439,0.0342,0.0000,1.7177,0.0000,0.8409,2.0180,0.0006,0.3152,0.8769,0.8491,...,0.00,0.00,0.00,0.0,0.21,0.0,0.0,0.0,0.10,0.0
440,0.0000,0.0000,1.5535,0.0000,0.9965,1.9802,0.0006,0.3576,1.1285,0.9466,...,0.00,0.08,0.07,0.0,0.56,0.0,0.0,0.0,0.00,0.0

In [51]:
#時系列データを抽出

#ユーザーA
data_a_record_1_time = data_a_label_50.iloc[:, 0:2]
data_a_record_2_time = data_a_label_60.iloc[:, 0:2]
data_a_record_3_time = data_a_label_70.iloc[:, 0:2]
data_a_record_4_time = data_a_label_80.iloc[:, 0:2]

#ユーザーB
data_b_record_1_time = data_b_label_50.iloc[:, 0:2]
data_b_record_2_time = data_b_label_60.iloc[:, 0:2]
data_b_record_3_time = data_b_label_70.iloc[:, 0:2]
data_b_record_4_time = data_b_label_80.iloc[:, 0:2]

#ユーザーC
data_c_record_1_time = data_c_label_50.iloc[:, 0:2]
data_c_record_2_time = data_c_label_60.iloc[:, 0:2]
data_c_record_3_time = data_c_label_70.iloc[:, 0:2]
data_c_record_4_time = data_c_label_80.iloc[:, 0:2]

#ユーザーD
data_d_record_1_time = data_d_label_50.iloc[:, 0:2]
data_d_record_2_time = data_d_label_60.iloc[:, 0:2]
data_d_record_3_time = data_d_label_70.iloc[:, 0:2]
data_d_record_4_time = data_d_label_80.iloc[:, 0:2]

In [52]:
#特徴量のデータフレームに時系列データを連結

#ユーザーA
data_a_record_1_AU_feature = pd.concat([data_a_record_1_time, data_a_record_1_AU_feature], axis=1)
data_a_record_2_AU_feature = pd.concat([data_a_record_2_time, data_a_record_2_AU_feature], axis=1)
data_a_record_3_AU_feature = pd.concat([data_a_record_3_time, data_a_record_3_AU_feature], axis=1)
data_a_record_4_AU_feature = pd.concat([data_a_record_4_time, data_a_record_4_AU_feature], axis=1)

#ユーザーB
data_b_record_1_AU_feature = pd.concat([data_b_record_1_time, data_b_record_1_AU_feature], axis=1)
data_b_record_2_AU_feature = pd.concat([data_b_record_2_time, data_b_record_2_AU_feature], axis=1)
data_b_record_3_AU_feature = pd.concat([data_b_record_3_time, data_b_record_3_AU_feature], axis=1)
data_b_record_4_AU_feature = pd.concat([data_b_record_4_time, data_b_record_4_AU_feature], axis=1)

#ユーザーC
data_c_record_1_AU_feature = pd.concat([data_c_record_1_time, data_c_record_1_AU_feature], axis=1)
data_c_record_2_AU_feature = pd.concat([data_c_record_2_time, data_c_record_2_AU_feature], axis=1)
data_c_record_3_AU_feature = pd.concat([data_c_record_3_time, data_c_record_3_AU_feature], axis=1)
data_c_record_4_AU_feature = pd.concat([data_c_record_4_time, data_c_record_4_AU_feature], axis=1)

#ユーザーD
data_d_record_1_AU_feature = pd.concat([data_d_record_1_time, data_d_record_1_AU_feature], axis=1)
data_d_record_2_AU_feature = pd.concat([data_d_record_2_time, data_d_record_2_AU_feature], axis=1)
data_d_record_3_AU_feature = pd.concat([data_d_record_3_time, data_d_record_3_AU_feature], axis=1)
data_d_record_4_AU_feature = pd.concat([data_d_record_4_time, data_d_record_4_AU_feature], axis=1)

In [53]:
#編集データの表示
data_a_record_1_AU_feature

,start_time,finish_time,AU01_r_mean,AU02_r_mean,AU04_r_mean,AU05_r_mean,AU06_r_mean,AU07_r_mean,AU09_r_mean,AU10_r_mean,...,AU10_r_min,AU12_r_min,AU14_r_min,AU15_r_min,AU17_r_min,AU20_r_min,AU23_r_min,AU25_r_min,AU26_r_min,AU45_r_min
0,2020-11-11 12:40:18,2020-11-11 12:40:21,0.5649,0.2213,1.0767,0.1783,0.5775,1.5641,0.1577,0.6055,...,0.00,0.00,0.00,0.0,0.56,0.0,0.0,0.0,0.00,0.0
1,2020-11-11 12:40:19,2020-11-11 12:40:22,1.0120,0.3186,0.6725,0.0188,0.5692,1.6986,0.0123,0.3477,...,0.00,0.00,0.00,0.0,0.50,0.0,0.0,0.0,0.00,0.0
2,2020-11-11 12:40:20,2020-11-11 12:40:23,1.0463,0.3226,0.6045,0.0119,0.5658,1.6246,0.0000,0.2812,...,0.00,0.00,0.00,0.0,0.50,0.0,0.0,0.0,0.00,0.0
3,2020-11-11 12:40:21,2020-11-11 12:40:24,1.0302,0.2876,0.4861,0.0336,0.5558,1.3981,0.0110,0.3858,...,0.00,0.00,0.00,0.0,0.48,0.0,0.0,0.0,0.00,0.0
4,2020-11-11 12:40:22,2020-11-11 12:40:25,0.5446,0.1019,0.5609,0.0361,0.7159,1.0777,0.1864,0.6056,...,0.00,0.00,0.00,0.0,0.00,0.0,0.0,0.0,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465,2020-11-11 12:54:37,2020-11-11 12:54:40,0.0000,0.0000,0.6291,0.0018,1.2402,1.0845,0.1627,1.0080,...,0.37,0.39,0.37,0.0,0.00,0.0,0.0,0.0,0.00,0.0
466,2020-11-11 12:54:38,2020-11-11 12:54:41,0.0023,0.0000,0.7542,0.0025,1.0974,1.1290,0.0490,1.1279,...,0.56,0.25,0.27,0.0,0.00,0.0,0.0,0.0,0.00,0.0
467,2020-11-11 12:54:47,2020-11-11 12:54:50,0.0490,0.0000,1.8060,0.0000,0.7769,1.9203,0.0052,0.3254,...,0.00,0.00,0.00,0.0,0.14,0.0,0.0,0.0,0.74,0.0
468,2020-11-11 12:54:48,2020-11-11 12:54:51,0.0342,0.0000,1.7177,0.0000,0.8409,2.0180,0.0006,0.3152,...,0.00,0.00,0.00,0.0,0.21,0.0,0.0,0.0,0.10,0.0
469,2020-11-11 12:54:49,2020-11-11 12:54:52,0.0000,0.0000,1.5535,0.0000,0.9965,1.9802,0.0006,0.3576,...,0.00,0.08,0.07,0.0,0.56,0.0,0.0,0.0,0.00,0.0

In [54]:
#AU特徴量データフレームの保存

#ユーザーA
data_a_record_1_AU_feature.to_csv("feature/20201111_session1_data_a_record_1_AU_feature.csv", index=False)
data_a_record_2_AU_feature.to_csv("feature/20201111_session1_data_a_record_2_AU_feature.csv", index=False)
data_a_record_3_AU_feature.to_csv("feature/20201111_session1_data_a_record_3_AU_feature.csv", index=False)
data_a_record_4_AU_feature.to_csv("feature/20201111_session1_data_a_record_4_AU_feature.csv", index=False)

#ユーザーB
data_b_record_1_AU_feature.to_csv("feature/20201111_session1_data_b_record_1_AU_feature.csv", index=False)
data_b_record_2_AU_feature.to_csv("feature/20201111_session1_data_b_record_2_AU_feature.csv", index=False)
data_b_record_3_AU_feature.to_csv("feature/20201111_session1_data_b_record_3_AU_feature.csv", index=False)
data_b_record_4_AU_feature.to_csv("feature/20201111_session1_data_b_record_4_AU_feature.csv", index=False)

#ユーザーC
data_c_record_1_AU_feature.to_csv("feature/20201111_session1_data_c_record_1_AU_feature.csv", index=False)
data_c_record_2_AU_feature.to_csv("feature/20201111_session1_data_c_record_2_AU_feature.csv", index=False)
data_c_record_3_AU_feature.to_csv("feature/20201111_session1_data_c_record_3_AU_feature.csv", index=False)
data_c_record_4_AU_feature.to_csv("feature/20201111_session1_data_c_record_4_AU_feature.csv", index=False)

#ユーザーD
data_d_record_1_AU_feature.to_csv("feature/20201111_session1_data_d_record_1_AU_feature.csv", index=False)
data_d_record_2_AU_feature.to_csv("feature/20201111_session1_data_d_record_2_AU_feature.csv", index=False)
data_d_record_3_AU_feature.to_csv("feature/20201111_session1_data_d_record_3_AU_feature.csv", index=False)
data_d_record_4_AU_feature.to_csv("feature/20201111_session1_data_d_record_4_AU_feature.csv", index=False)